.workContainer{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 5rem;
    /* border: 1px red solid; */

}

.workTextContainer {
    color: black;
    text-align: center;
    width: 90%;
    margin-top: 15vh;
    /* border: 1px green solid; */
}

.workText {
    font-family: sans-serif;
    margin: 0;
    /* Remove default margin */
    
}

.workText h1{
    font-size: 20rem;
    font-weight: 600;
}

.workLineTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    /* Adjust spacing between text and line below */
}

.workArrow {
    margin-right: 5px;
    /* Adds space between the arrow and the text */
    font-size: 20rem;
    /* Adjust as needed */
}
.cursiveWork{
    font-family: "Georgia",
        "Times New Roman",
        serif;
        font-style: italic;
}
.workImages{
    /* border: 1px solid red; */
    height:70vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCollage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 100%;
    /* border: 1px solid green; */
}
.imageContainer {
    position: absolute;
    width: 400px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height based on aspect ratio */
    overflow: hidden;
    transition: transform 0.3s ease;
    
    /* Optional: Adds rounded corners */
}
.imageOne {
    top:0;
    z-index: 1;
}
.imageTwo {
    top:35%;
    right: -7%;
    transform: rotate(7deg);
    z-index: 2;
}

.imageThree {
    top:25%;
    left: -7%;
    transform: rotate(-7deg);
    z-index: 3;
}

.horizontalRule{
    width: 90%;
}

